input{
    height: 5vh;
    width: 40vw;
    margin: 1vw;
}
.form-group{
    margin: 5vh;
    height: 5vh;
    display:flex;
}
button{
    color: black;


}
form{
    margin-top: 30vh;
}
.menu-login{
    margin-top: 2vh;
    color: black;
}

h1.text-featured-menu a{
    text-decoration:none;
    height: 14vh;
    font-size: 7rem;
}
.voltar{
    margin-top: 3px;
}