/*RESPONSIVE SMALL VERSION ADAPTATE */
@media (min-width: 200px) {
    h1.text-featured{
        display:none;
    }
h2.text-featured{
    font-size: 3.3vh;
    margin: 6vw 0 20vh 0 ;
    width: 95%;
    padding: 0;
}
.button-questions{
    height: 12vh;
    padding: 5%;
}
.number{
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 1em;
    margin: 1vw;
}

button.power-button{
    height: 70px;
    width: 70px;
    font-size: 7vw;

 }

 div.questions{
     margin-top: 3.8vw;
 }
 div.power-ups{
    margin-bottom: 6%;
    margin-top: 0;
}

}

@media (min-width: 640px) {
    h1.text-featured{
        display: flex;
        margin: 0;
        width: 50vw;
        margin-left: 0;
    }
    h2.text-featured{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:  6vw 6vw 6vw ;
        font-size: 4vh;
    }
    #content{

        width: 80%;
        height: 100vh;
    }
    .rodape{

        margin-top: 2vh;
    }
    .rodape a{
        margin-top: .1vh;
        font-size: 2em;
    }
    .button-questions{
        padding: .2vh;
        height: 10vh;
        font-size: 2.2rem;
        transition: background .3s;

    }
    .number{
        border-radius: 50%;
        padding: .9em;
        font-weight: 700;
        display: inline-flex;
        margin: 1vw;
        font-size: .8em;
    }
    div.questions{
        margin-top: 0;
        height: 25vh;
    }
    div.power-ups{
        margin-bottom: 6%;
        margin-top: 0;
    }
    button.power-button{
    font-size: 5vh;
    margin-top: 0;
    transition: background .3s;
}

.logout{
   margin-top: 35vw;

 }

}


