*{
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: 100%;
}

:root {
    font-size: 62.5%;
  }
#content{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #232323;
    justify-content: center;
    /*padding: 27%;*/
    height: 100%;
    width: 100%;
    color: #fdff8c;
    }
.rodape a{
text-decoration: none;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
#content p,a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin: 1rem;
    }
.rodape{
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1rem;
    margin: 2.4vh;
    

}