.button{
width: 100%;
height: clamp(3rem, 4.5rem, 5.5rem);
padding: 20px;
background-color: #eeffff;
border: none ;
font-weight: 500;
font-family: 'Noto Sans KR', sans-serif;
border-radius: 1px;
transition: background-color .3s;

}
.button:focus{
    outline: none;
}
.button:hover,.power-button:hover{
background-color: #f5ea87;
font-weight: 700;
}
.text-featured{
    color: #303030;
    font-family: 'Oswald', sans-serif;
}
h2.text-featured{
    font-weight: 500;
    font-size: 2.2vh;
    height: 1vh; 
    margin: clamp(1.5rem, 3rem, 4rem) 2.5rem ;
    color: #fdff8c;
    line-height: 2.8rem;

}
h1.text-featured{
    color: #ffffff;
    font-weight: 700;
    font-size: clamp(2.4rem, 2rem, 7rem);
    height: clamp(2rem, 3rem, 7rem);
    position: absolute;
    top: 0;
}
.number{
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin: 1vw;
    background-color: #ffffff;
}
div.power-ups {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 1vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    
}

a.power-button{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    font-size: 5rem;
    text-decoration: none;
    color: #232323;
    margin: 2.5vw;
    padding: 2.4vw;
    text-transform: uppercase;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #ffffff;
    font-weight: 700;
}
#power-1{
    color: #303030;
}
#power-1:hover{
    background-color: rgb(255, 188, 87);
}
#power-2{
    color: #303030;
}
#power-2:hover{
    background-color: rgb(219, 126, 255);
}
#power-3{
    color: #303030;
}
#power-3:hover{
    background-color: rgb(87, 255, 219);
}
#power-4{
    color: #303030;
}
#power-4:hover{
    background-color: rgb(83, 163, 255);

}
span.title1{
    color: rgb(255, 188, 87);
}
span.title2{
    color: rgb(219, 126, 255);
}
span.title3{
    color:  rgb(87, 255, 219);
}
span.title4{
    color: rgb(83, 163, 255);
}
#progress{
    height: 100vh;
    margin: .1vh;
    background: rgb(44,57,238);
    background: linear-gradient(85deg, rgba(44,57,238,1) 0%, rgba(106,255,223,1) 100%);
    display: flex;
    width: 100%;
    
}


