.button{
width: 20rem;
height: 5rem;
padding: 20px;
background-color: #eeffff;
border: #232323 5px solid ;
margin: .5rem;
font-weight: 500;
font-family: 'Noto Sans KR', sans-serif;
border-radius: 15px;
transition: background-color .3s;
}
.button:focus{
    outline: none;
}
.button:hover{
background-color: #ddffff;
border: black 5px solid ;
}
.text-featured{
    color: #303030;
    font-family: 'Oswald', sans-serif;
}
h2{
    font-weight: 500;
    font-size: 2rem; 
    height: 6rem; 
    margin: 2rem 3.5rem ;
}
h1{
    font-weight: 700;
    font-size: 4rem;
    height: 10rem;
    margin: 2rem; 
}
/*RESPONSIVE VERSION ADPATATE */
@media (min-width: 760px) {

.text-featured{
    font-size: 1rem;
    color:red;
}    


}
