/*RESPONSIVE SMALL VERSION ADAPTATE */
@media (min-width: 200px) {
    h1{
        margin-top: 1%;
    }
h2{
    font-size: 1.5rem;
    margin: 3rem;
    width: 95%;
    padding: 0;
}
.button{
    height: 3rem;
    padding: 5px;
}


}

@media (min-width: 640px) {
    h1{
        display: flex;
        margin: 0 2rem;
    }
    h2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4rem 2rem;
        font-size: clamp(2rem,2.5rem,3rem);
    }
    #content{
        width: 80%;
    }
    .rodape{
        margin-bottom: 0;
        height: 20%;
    }
    .rodape a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button{
        padding: 20px;
        height: clamp(3rem, 4.5rem, 5.5rem);

        
    }

}