/*RESPONSIVE SMALL VERSION ADAPTATE */
@media (min-width: 200px) {
    h1.text-featured{
        margin: 0;
        font-size: 10vh;
        
    }
h2.text-featured{
    font-size: 2.4rem;
    margin: 10rem;
    margin-bottom: 18vh;
    width: 95%;
    padding: 0;
}
.button{
    height: 100%;
    padding: 5px;
}
.number{
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 1em;
    margin: 0;
    margin: 1vw;
}
.rodape a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
.rodape{
    height: 4rem;
}
a.power-button{

    font-size: 6vw;
 }
}

@media (min-width: 640px) {
    h1.text-featured{
        display: flex;
        margin: 0;
    }
    h2.text-featured{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 18% 0 10vh 0 ;
        font-size: 4vh;
    }
    #content{
        width: 80%;
        height: 100vh;
    }
    .rodape{
        margin-bottom: 0;
        height: 100%;
        margin-top: 2vh;;
    }
    .rodape a{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
    }
    .button{
        padding: 2.8vh;
        height: 100%;
        font-size: 2.2rem; 
        
    }
    .number{
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        padding: 1em;
        margin: 0;
        display: inline-flex;
        margin: 1vw;
    }
 div.power-ups{
     height: 0;
 }
 a.power-button{
    margin-top: 0;
    font-size: 3vw;
 }

}