  <!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="bruno-gomes-code" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/form.css" />
    <link rel="stylesheet" href="./static/buttons.css" />
    <link rel="stylesheet" href="./static/questions.css" />
    <link rel="stylesheet" href="./static/main.css" />
    <link rel="stylesheet" href="./static/response.css" />
    <link rel="stylesheet" href="./static/animations.css" />
    <meta
      name="description"
      content="Quiz para nerd's e cansados de um trabalho puxado."
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>QUIZLEE</title>
  </head>
  <body>
    <div id="content">
      <h1 class="text-featured-menu">
        <a href="/">
        <span class='title5 animate-up'>L</span>
        <span class='title2 animate-up'>O</span>
        <span class='title3 animate-up'>G</span>
        <span class='title4 animate-up'>I</span>
        <span class='title5 animate-up'>N</span>
        </a>
      </h1>
        <form action="/login" method="post">
          <div class="form-group animate-up">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
          </div>
          <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
      </div>
      <button class="btn btn-primary power-2 button-questions animate-up" type="submit">Log In</button>
</form>
    <a class="text-featured voltar" href="/">VOLTAR</a>
    </div>

      <footer class="rodape">
        <a class="text-featured" href="#">Bruno Gomes</a>
      </footer>
    </div>

    <script src="./script/script.js"></script>
  </body>

</html>
